@font-face {
    font-family: Inter;
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}


:root {
    --Lime-Green: hsl(163, 72%, 41%);
    --Bright-Red: hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear-gradient(135deg, rgba(253, 196, 104, 1) 0%, rgba(223, 73, 150, 1) 100%);
    --Very-dark-blue: hsl(240, 100%, 5%);
    --YouTube: hsl(348, 97%, 39%);

    --toggle-dark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
    --toggle-light: hsl(230, 22%, 74%);

    --dark-bg: hsl(230, 17%, 14%);
    --dark-top-bg: hsl(232, 19%, 15%);
    --dark-card-bg: hsl(228, 28%, 20%);
    --dark-text-blue: hsl(228, 34%, 66%);

    --light-top-bg: hsl(225, 100%, 98%);
    --light-card-bg: hsl(227, 47%, 96%);
    --light-text-grayish-blue: hsl(228, 12%, 44%);
    --light-very-dark-blue: hsl(230, 17%, 14%);

    --fw-reg: 400;
    --fw-bold: 700;

    --bg: var(--dark-bg);
    --top-bg: var(--dark-top-bg);
    --card-bg: var(--dark-card-bg);
    --text-color-main: white;
    --text-color-sec: var(--dark-text-blue);
    --toggle-circle: var(--dark-bg)
}

.lightMode {
    --bg: var(--light-bg);
    --top-bg: var(--light-top-bg);
    --card-bg: var(--light-card-bg);
    --text-color-main: var(--light-very-dark-blue);
    --text-color-sec: var(--light-text-grayish-blue);
    --toggle-circle: var(white)
}

button,
textarea,
select,
input {
    font: inherit;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    /* base Styles */
    background-color: var(--bg);
    color: var(--text-color-main);
    margin: 0;
    font-family: Inter;
}

.site {
    padding: 1.5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer p {
    text-align: center;
    margin: 0.45em;
}
footer{
    margin-top: auto;
}

img {
    max-width: 100%;
}

h3 {
    font-size: 16px;
    color: var(--text-color-sec);
}

/* ------------ utitly classes ------------ */
.text-dark-blue {
    color: var(--dark-text-blue);
}

.text-bold {
    font-weight: var(--fw-bold);
}

.text-reg {
    font-weight: var(--fw-reg);
}

.red {
    color: red !important
}

/* ------------ layout + styles ------------ */

/* HEADER */
header h1 {
    margin-bottom: 0;
    font-size: 1.75rem;
}

header h3 {
    margin: 0;
    /* padding-bottom: 1rem; */
}

header hr {
    background-color: var(--text-color-sec);
    margin: 1em 0;
}

/* ---------- TOGGLE DARK MODE ----------  */
.toggle-dm {
    /* border-top: 1px solid var(--dark-text-blue); */
    margin-bottom: 2em;
}

.toggle-dm label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.toggle-dm {
    margin: 0;
}

.toggle {
    cursor: pointer;
    display: inline-block;

}

.toggle-switch {
    display: inline-block;
    background: linear-gradient(135deg, rgba(55, 143, 230, 1) 0%, rgba(62, 218, 130, 1) 100%);
    /* LIGHTMODE: hsl(230, 22%, 74%) */
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before {
    display: block;
    background: var(--toggle-circle);

    /* background: linear-gradient(to bottom, #fff 0%, #eee 100%); */
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: var(--dark-text-blue);
    /* background: linear-gradient(to bottom, #fff 0%, #fff 100%); */
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked+.toggle-switch {
    background: linear-gradient(135deg, rgba(55, 143, 230, 1) 0%, rgba(62, 218, 130, 1) 100%);
    background: var(--toggle-light);
}

.toggle-checkbox:checked+.toggle-switch:before {
    left: 30px;
}


.toggle-switch:before,
.toggle-switch:after {
    content: "";
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}

/*  ----------  ---------- */
section {
    padding-bottom: 1.5em;
}

/* CARD */
.card {
    background-color: var(--card-bg);
    border-radius: 10px;
    margin: 1.5em 0;
}

.name {
    display: flex;
    gap: 0.7em;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.name img {
    height: 100%;
}

.name h3 {
    margin: 0.1em 0;
}

.card h2 {
    font-size: 3.5rem;
    text-align: center;
    margin: 0;
}

.followers {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    text-align: center;
    font-size: 15px;
    margin: 0;
}

.today {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    padding: 1.5em;
}

.today h3 {
    margin: 0;
    color: var(--Lime-Green)
}

.today img {
    height: 100%;
}

.card-stripe {
    height: 0.5vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.facebook {
    background-color: var(--Facebook);
}

.twitter {
    background-color: var(--Twitter);
}

.insta {
    background: var(--Instagram);
}

.youtube {
    background-color: var(--YouTube);
}

/* Overview - Today */
.overview-card {
    padding: 1.5em 1.5em;
}

.overview-card h2,
.overview-card h3 {
    margin: 0;
}

.overview-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.overview-row img {
    height: 100%;
}

.overview-row h2 {
    font-size: 2.2rem;
}

.overview-row .today {
    padding: 0;
}

.overview-row:not(:last-child) {
    margin-bottom: 1em;
}

/**
  ----------- MEDIA QUERIES ----------- 
*/
@media (min-width: 600px) {
    .site {
        padding: 1.5rem 3rem;
    }

    .mobile-hr {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2em;
    }


    .card {
        margin: 0;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
    }

    .overview-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
    }

    .overview-cards .card {
        margin: 0;
    }
}

@media (min-width: 1000px) {
    .site {
        padding: 1.5rem 5vw;
    }

}

@media (min-width: 1000px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }

    .overview-cards {
        grid-template-columns: repeat(4, 1fr);
    }

}

@media (min-width: 1700px) {
    .site {
        padding: 1.5rem 15vw;
    }
}